

.bara{
    width: 100vw;
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add{
    width: 80vw;
    height: 50vh;
    margin-top: 20vh;
    /* background-color: red;   */
    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.pehla , .dosra{
    width: 50%;
    /* background-color: yellow; */
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dosra{
    /* background-color: orange; */
     border-left: 1px solid rgb(134, 134, 134) ; 

}


#exampleInputEmail1{
    width: 50%;
}


.upper{
    width: 100%;
    display: flex;
    height: 100%;
    /* background-color: pink; */
    align-items: center;
}



