body {
  padding: 0;
  margin: 0;
}





.maha {
  width: 100vw;
  height: 100vh;
  /* height: min-content; */

  /* background-color: rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;


}




.parent {
  width: 100%;
  height: 93%;
  /* height: 93vh; */
  /* background-color: rgb(0, 255, 0); */

  display: flex;
  justify-content: center;

  transition: all 1.5s linear;


}





.left,
.right {
  width: 20%;
  /* background-color: red; */

}


.center {
  width: 60%;
  /* background-color: aqua; */
  padding: 0;
  margin: 0;



}




.search {
  background-color: rgb(255, 255, 255);

  width: 100%;
  height: 20%;
  transition: all 1.5s linear;
  background-position-y: center;

}





.cover {
  width: 100%;
  height: 100%;
}




.main {
  transition: all 1.5s linear;


  /* background-color: rgb(235, 235, 235); */


  width: 100%;
  /* height: 80%; */


  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(7 , 1fr); */
  column-gap: 5px;
  row-gap: 5px;

  /* padding: 5px; */
  padding-top: 5px;


}




span {

  text-align: center;
  height: 15vh;
  max-height: 15vh;


}


.card,
.card-img {
  width: 100%;
  height: 100%;

}

.card-img {
  overflow: hidden;
}




.card {
  transition: all 1s linear;
}

.card:hover {
  transform: scale(1.4);


}


.card:hover .card-title,
.card:hover .price {
  display: none;
}



.card-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* padding-top: 85%; */
  font-size: small;
  margin: 0%;
  color: rgb(0, 0, 0);
}



.price {
  color: rgb(255, 132, 0);
  font-weight: 200;
  font-size: xx-small;
}





span {
  overflow: hidden;
}


.dark {
  background-color: black;
}



.dark .main {
  background-color: black;
}

.dark .search {
  background-color: rgb(128, 128, 128);
}

.dark .card {

  background-color: rgb(61, 61, 61);
}





.search {
  display: flex;
  justify-content: center;
  align-items: center;
}



.invisible {
  display: none;
}




.left,
.right {
  text-align: center;
}




.card-img-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0;


}


.btn {
  font-size: small;
}






.nav {
  width: 100%;
  /* height: 5%; */
  /* height: min-content; */
  background-color: pink;


}

.navbarr {
  width: 100vw;
  height: 100%;
  background-color: red;
}



.ml-auto {
  width: 97%;
  /* background-color : blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav2 {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav1 {
  /* background-color: pink; */
  display: inline-flex;
  align-items: center;
  justify-content: center;



}


.btn-outline-secondary {
  border: none;
}

.btn-outline-secondary:hover {
  background-color: transparent;
  color: black;

}

.btn-outline-secondary::after {
  background-color: transparent;
  color: black;

}



.choti_img {
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}







.badge{
  display: inline;
  color: red;
  left: -7px;
}


.cartnav{
  /* background-color: pink; */
  width:   max-content;
  height: 5vh;
  font-size: xx-small;
  border: none;
  color: grey;

}



.signbtn , .cartnav1 , .signimg {
  display: none;
}






@media screen and (min-width: 600px) and (max-width: 767px) {


  .navbarr{
    display: flex;
    justify-content: center ;
    background-color: red;
  }

  .left,
  .right {
    display: none;
  }

  .center {
    width: 100%;

  }

  .signbtn {
    display: inline;
    font-size: small;
    color: black;
  }

  .signimg {
    display: flex;
  }

  .cartnav1{
    display: flex;
  }

  .navright{
    display: flex;
  }


}


@media only screen and (max-width: 600px) {
  .search {
    /* background-color: lightblue; */
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;

  }



  .left,
  .right {
    display: none;
  }

  .card-title {
    font-size: 0.5rem;
  }

  .price {
    font-size: 0.5rem;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-flow: row; */
    /* grid-template-rows: repeat(7, 1fr); */
    /* background-color: red; */
    row-gap: 2px;
    column-gap: 2px;
  }


  .main {
    height: 88%;
  }

  .center {
    width: 100%;
    margin-left: 3vw;
    margin-right: 3vw;
  }


  .span {
    max-height: 13vh;
    min-height: 13vh;
  }

  .signbtn {
    display: flex;
    font-size: xx-small;
    /* border: none; */
    color: black;
    
  }


  .signimg {
    display: flex;
    width: 9vw;
    height: 6vh;
  }



.cartnav1{
  display: flex;
  /* align-items: center;   */
  /* width: 100%; */
  /* height: 5vh; */
  /* background-color: rgb(255, 255, 255); */
}


.badge{
  left: -10px;

}




.navright{
  display: flex;
  align-items: center;
  /* height: 10%; */
  /* width: 20% ; */
  /* background-color: red; */
  justify-content: space-between;
}



}