.one {
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


.details_div {
    width: 100%;
    /* height: 100vh; */
    /* max-height: 100vh; */
    /* background-color: red; */
    display: flex;
    padding-top: 20vh;
}


.content {

    width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;
    /* background-color: yellow; */

    border-left: 1px solid orange;




}

.pic {
    /* background-color: red; */
    width: 50%;
    height: 50%;
    max-height: 50%;
    min-height: 50%;

}

.content {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.details_img {
    width: 100%;
    height: 100%;

}

.itemm {
    width: 100%;
    height: 20%;
    margin: 2px;
    /* background-image: linear-gradient(to right, rgb(250, 250, 250), white); */
    /* border-right: 2px solid orange ;
    border-bottom: 2px solid orange ; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.item_last {
    flex-direction: row;
    justify-content: center;

}



.pallette {
    width: 70%;
    height: 100%;
    /* background-color: red; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}

.color1 {
    background-color: rgb(220, 255, 225);

}

.color:hover {
    border: 1px solid rgb(0, 0, 0);
}

.color::after {
    border: 2px solid rgb(0, 0, 0);

}

.color2 {
    background-color: rgb(255, 255, 255);
}

.color3 {
    background-color: rgb(211, 211, 211);
}

.color4 {
    background-color: rgb(255, 205, 40);
}




h4 {
    height: 100%;
    width: 100%;
    font-weight: 100;
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    font-size: large;

}


h1,
h3,
h4 {
    color: rgb(75, 75, 75);
}


h1 {
    font-size: large;
    font-weight: 400;
}





.dark h1,
.dark h2,
.dark h3,
.dark h4 {
    color: white;
}



h2{
    font-size: x-small;
}



.nav {
    width: 100%;
    /* height: 5%; */
    height: min-content;
    background-color: pink;
  
  
  }
  












@media only screen and (max-width: 600px) {

    .one {
        /* background-color: yellow; */
        align-items: center;

    }

    .details_div {


        width: 100vw;
        /* height: min-content; */
        height: 100%;


        /* background-color: pink; */
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0px;
    }

    .content,
    .pic {
        width: 70%;
        border: none;
        /* background-color: red; */

    }

    .content {

        height: 40vh;
    }

    .pic {
        margin-top: -130px;

        height: 40vh;
    }



    .itemm {
        height: 20%;
    }

    h4 {
        font-size: 5px;
    }

    h1 {
        font-size: large;
    }

    h3 {
        font-size: x-small;
    }

    h2 {
        font-size: small;
    }

    .item_sl {

        border-left: 1px solid orange;
    }


    .add_btn,
    .back_btn {
        font-size: 0.4rem;
        /* padding: 0; */
        /* margin: 0; */
        width: 30%;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }





}